<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상세 보기</title>
    <style>
        #tr_edit {
            display: none;
        }
        .hidden-passwd {
            display: none;
        }
       .class-caption {
	width:150px;
       }
       .class-content {
	width:500px;
       }
    </style>
    <script>
        function backToList(frm) {
            frm.action = "{% url 'bulletin_board:index' %}";
            frm.submit();
        }

        function fn_enable() {
            document.querySelector("#i_title").disabled = false;
            document.querySelector("#i_content").disabled = false;
            document.querySelector("#tr_edit").style.display = "table-row";
            document.querySelector("#tr_button").style.display = "none";
        }
    </script>
</head>
<body>
    <form name="bulletin_form" method="post">
        {% csrf_token %}
	<table border="0" align="center">
	<tbody>
		<tr>
			<td class="class-caption" align="center" bgcolor="#ffcc00">글번호</td>
			<td><input type="text" class="class-content" value="{{bulletin.id }}" disabled />
			</td>
		</tr>
		<tr>
			<td class="class-caption" align="center" bgcolor="#ffcc00">작성자 아이디</td>
			<td><input type="text" class="class-content" value="{{bulletin.name }}" name="writer" disabled /></td>
		</tr>
        <tr>
            <td class="hidden-passwd"><<input  id="passwd_value" type="text" value="{{bulletin.passwd }}"/>/td>
        </tr>
	<tr>
		<td class="class-caption" align="center" bgcolor="#ffcc00">제목</td>
		<td><input type="text" class="class-content" value="{{bulletin.title }}" name="title" id="i_title" disabled /></td>
	</tr>
	<tr>
		<td class="class-caption" align="center" bgcolor="#ffcc00">내용</td>
		<td><textarea rows="20" cols="60" class="class-content" name="content" id="i_content"
			disabled>{{bulletin.content }}</textarea></td>
	</tr>
	<tr>
		<td class="class-caption" align=center bgcolor="#ffcc00">등록일자</td>
		<td><input type="text" class="class-content" value="{{bulletin.writeDate }}" disabled />
		</td>
	</tr>
	<tr>
		<td class="class-caption" align=center bgcolor="#ffcc00">비밀번호</td>
		<td><input type="password" class="class-content" id="in_passwd"/>
		</td>
	</tr>
	<tr id="tr_edit">
		<td colspan=2 align="center">
                <input type="button" value="수정반영하기"
	   onClick="fn_modify_bulletin(bulletin_form, passwd_value.value, in_passwd.value)">
                <input type="button" value="취소" onclick="backToList(bulletin_form)">
	</td>
	</tr>

            <tr id="tr_button">
                <td colspan=2 align=center>
                    <input type=button value="수정하기"	onClick="fn_enable(bulletin_form)">
                    <input type=button value="삭제하기" onclick="fn_remove_bulletin(bulletin_form, passwd_value.value, in_passwd.value)">
                    <input type=button value="리스트로 돌아가기" onclick="backToList(bulletin_form)">
                </td>
            </tr>
	    </tbody>
	    </table>
    </form>
</body>
</html>